<?xml version="1.0" ?>
<config>
  <output>
    <cpp>../allstat/source/generated</cpp>
    <h>../allstat/include/allstat</h>
  </output>
  <errno>
    <source>./data/errno/Linux/errno.h</source>
    <source>./data/errno/Mac/errno.h</source>
    <source>./data/errno/Solaris/errno.h</source>
    <source>./data/errno/Windows/errno.h</source>
    <cpp>tErrno.cpp</cpp>
    <h>errno2.h</h>
  </errno>
  <ntstatus>
    <source>./data/ntstatus.h</source>
    <cpp>tNtStatus.cpp</cpp>
    <h>ntstatus.h</h>
  </ntstatus>
  <http>
    <source>../allstat/source/Http.cpp</source>
    <cpp>tHttp.cpp</cpp>
    <h>http.h</h>
  </http>
  <kreturn>
    <source>./data/kern_return.h</source>
    <cpp>tKReturn.cpp</cpp>
    <h>kernel_return.h</h>
  </kreturn>
  <ipp_status>
    <source>./data/ippdefs.h</source>
    <cpp>tIppStatus.cpp</cpp>
    <h>ipp_status.h</h>
  </ipp_status>
  <bugcheck>
    <source>./data/mssdk/shared/bugcodes.h</source>
    <cpp>tBugCheck.cpp</cpp>
    <h>bug_check_codes.h</h>
  </bugcheck>
  <lresult>
    <source>./data/mssdk/shared/winerror.h</source>
    <cpp>tLResult.cpp</cpp>
    <h>lresult.h</h>
  </lresult>
  <hresult>
    <source>./data/mssdk/**/*.h</source>
    <!--source>z:\tools\mssdk\include\**\*.h</source-->
    <cpp>tHResult.cpp</cpp>
    <h>hresult.h</h>
  </hresult>
  <map>
    <hpp2source>
      <item key="Tapi3Err.h" value="TAPI 3.0"/>
      <item key="Mq.h" value="Message Queuing applications"/>
      <item key="slerror.h" value="Software Licensing"/>
      <item key="rtcerr.h" value="RTC Core"/>
      <item key="imapi2fserror.h" value="Image Mastering"/>
      <item key="imapi2error.h" value="Image Mastering"/>
      <item key="wuerror.h" value="Windows Update"/>
      <item key="wcmerrors.h" value="Windows Config Managemen"/>
      <item key="Mferror.h" value="Windows Media Foundation"/>
      <item key="nserror.h" value="Windows Media"/>
      <item key="winbio_err.h" value="Windows Biometric Framework"/>
      <item key="fsrmerr.h" value="File Server Resource Management service"/>
      <item key="vdserr.h" value="Virtual Disk Service"/>
      <item key="vsserror.h" value="Volume Shadow copy Services"/>
      <item key="Filterr.h" value="Indexing Service"/>
      <item key="CiError.h" value="Indexing Service"/>
      <item key="oledberr.h" value="Microsoft OLE DB"/>
      <item key="WindowsSearchErrors.h" value="Windows Search Service"/>
      <item key="vfwmsgs.h" value="Video for Windows"/>
      <item key="AdsErr.h" value="Active Directory Service"/>
      <item key="WdsTptMgmtMsg.h" value="Windows Deployment Services"/>
      <item key="wdsmcerr.h" value="Windows Deployment Services"/>
      <item key="WdsCpMsg.h" value="Windows Deployment Services"/>
      <item key="NtDsBMsg.h" value="Directory Service Backup/Restore"/>
      <item key="functiondiscoveryerror.h" value="Web Services Function Discovery"/>
    </hpp2source>
    <bugcheckdescr>
      <item key="APC_INDEX_MISMATCH" value="There has been a mismatch in the asynchronous procedure calls (APC) state index"/>
      <item key="DEVICE_QUEUE_NOT_BUSY" value=""/>
      <item key="INVALID_DATA_ACCESS_TRAP" value="It indicates an incorrect data access trap."/>
      <item key="INVALID_PROCESS_ATTACH_ATTEMPT" value="This generally indicates that the thread was attached to a process in a situation where that is not allowed. For example, this bug check could occur if KeAttachProcess was called when the thread was already attached to a process (which is illegal), or if the thread returned from certain function calls in an attached state (which is invalid)."/>
    </bugcheckdescr>
  </map>
</config>
